
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
    margin:0;
    padding: 0;
}
.text-white {
    color: #fff !important;
  }
#wrapper{
    width: 100%;
    height: auto;
    border-top:#181264 solid 5px;
}
.text-blue{
    color:#006F96;
}
.help-desk{
    width:100%;
    min-height: 40px;
    border-bottom: solid 1px #bcacac;
    display: flex;
    align-items: center;
    justify-content: center;
}
.help-desk p{
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.25em;
}
.help-desk p span{
    font-weight: 400;
}
ul.logo{
    width:100%;    
    min-height: 127px;  
    padding-top: 16px;

}
ul.logo li{
    display: inline-block;
}
ul.logo li img{
    width:100%;
    height:auto;
}
ul.logo li:nth-of-type(2) {
    float: right; 
}
ul.logo li:nth-of-type(3) {
    float: right;  
    margin-left: 15px;
    margin-right: 15px;     
}
ul.logo li:nth-of-type(4) {
    /* float: right; */
    float: none;
    margin-left: 25%;       
}

ul.logo li img {
    max-height: 91px;  

}
#text{
    display:none;
    }

/* Navigation */    

.navbar{
    border-bottom: solid 1px #bcacac;
    border-top: solid 1px #bcacac;
    font-size: 1.125em;
    font-weight: 500;
    margin-bottom: 0.1px;
    border-radius: 0px;
    background: #e44d2a;
}
.navbar .container{
    position: relative;
}


.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(0,0,0,.5);

    font-weight: 500;
    color: #fff;

}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgb(2, 157, 155);
    color:#fff;
}

.nav>li:first-child{
    margin-left: 0px;
}
.navbar-nav {
    margin-left: -15px;
}
.dropdown>.dropdown-menu {
    border-top: 3px solid #0cb8b6;
    border-radius: 0;
    padding: 0;
    background:#f1f1f1;
 }
 .dropdown>.dropdown-menu::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #0cb8b6;   
    top: -8px;
    left: 15px;

 }
 .dropdown-menu {   
    padding: 0;
    background:#f1f1f1;
 }
 .dropdown-item {   
    padding: .65rem 1.5rem;

}
.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    
}
.dropdown-menu>li{
    border-bottom:#d4d0d0 solid 1px;
}

/* .navbar-nav li:last-child{
   position: absolute;
   right: 0;
   top:-8px;
} */
.login-btn {
    display: flex!important;
    background: #029D9B;
    color: #ffffff;
    padding: 8px 25px!important;
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 1px;
    
    min-height: 50px;
    justify-content: center;
    align-items: center;
}
.login-btn:hover{
    color:#ffffff
}

 /* dropdown */
 .dropdown-menu>li { 
    position:relative;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor:pointer;
 }
 .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left-color:#fff;
    box-shadow:none;
    border-radius: 0;
 }
 .dropdown-menu .sub-menu a{
     

 }
 .right-caret:after,.left-caret:after{  
      content:"";
     border-bottom: 5px solid transparent;
     border-top: 5px solid transparent;
     display: inline-block;
     height: 0;
     vertical-align: middle;
     width: 0;
     position: absolute;
     right: 10px;
     top: 16px;
 }
 .right-caret{
     position: relative;
 }
 .right-caret:after{
     border-left: 5px solid #489593;
    
 }
 .left-caret:after { 
     border-right: 5px solid #489593;
 }
 .dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0; 
 }

/* Navigation */  

.heading{
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
    font-weight: 300;
    font-size: 2.25em;    
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  .heading {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 5px;
    font-weight: 700;
  }
  .heading:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #E54D0C;
    z-index: 9;
  }
  .heading:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 10px;
    left: 50%;
    margin-left: -50px;
    background-color: #27BFFF;
  }
  .what-new .heading:before {    
    background-color: #E54D0C;   
  } 
  .what-new .heading:after {    
    background-color: #FFFFFF;
  }
  .about-bg {
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.home-font p{
    font-size: 1.38em;
    line-height: 1.5;
}


.bg-green{
    background:#4C9E9C;
}

.whats-new li{
    width:100%;
    display: flex;
    align-items: center;
    min-height: 35px;
    margin-bottom: 13px;
}
.whats-new li .icon-box{
    width:35px;
    background:#fff;

    float: left;
    min-height: 35px;
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.whats-new li .content-text{
    width:calc(100% - 25px);
    background:#fff;
    float:right;
    font-size: 0.99em;
    color:#101010;
    min-height: 35px;
    display: flex;        
    align-items: center;
    padding-left: 10px;
    
}
/* Documents */
.documents{
    width:100%;
    background:#f1f1f1;
}
.doc-file li{
    width:100%;
    background:#ffffff;    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    min-height:100px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}

.doc-file li:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.pdf-icon{
    width:100px;
    height:100%;
    text-align: center;
}
.doc-content{
    width:calc(100% - 100px);
    padding-right: 100px;    
}
.doc-content strong{
    color:#006F96;
    font-weight:600;
    font-size: 1.09em;
}
.doc-content p{
    margin-bottom: 0;
    font-size: 0.91em;
}
.doc-content svg{
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* */
ul.logo-box{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.logo-box li{
    width:24.98%;
    border-bottom: solid #cacaca 1px;
    border-right: solid #cacaca 1px;
    box-sizing: border-box;
    min-height:180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-box li:nth-of-type(4n) {
    border-right: solid #cacaca 0px;
}
.logo-box li:nth-last-of-type(2) {
    border-bottom: solid #cacaca 0px;
}
.logo-box  li:nth-last-of-type(3) {
    border-bottom: solid #cacaca 0px;
}
.logo-box  li:nth-last-of-type(1) {
    border-bottom: solid #cacaca 0px;
}
.logo-box  li:nth-last-of-type(4) {
    border-bottom: solid #cacaca 0px;
}
.logo-box .logo-icon-bg {
    background: url(../images/logo-bg.png) top 140px left no-repeat, -webkit-linear-gradient(top, #FFF 0, #F5F5F5 100%);
}
.link-title{
    font-weight: 500;
    color: #4C9E9C;
    padding: 5px 20px 0;
    font-size: 0.81em;

}
.logo-box figure{
    min-height: 95px;
    margin-bottom: 0;    
    display: flex;    
    justify-content: center;
    align-items: center;;
}
.logo-box img{
    height:90%;
}
.ancher-link{
    font-size: 0.71em;
    
    color:#E54D0C;
    font-weight: 400;
}
footer{
    width:100%;
    background:#004465;
    min-height:200px;
    margin-top: -55px;
}
.footer svg{    
    position: relative;
    top: -50px;
}
.footer svg{
    width:100%;
    
}
.mb-05{
    margin-bottom: 15px;
}
.copywrite{
    background: #006f96;
    width:100%;
    min-height:80px;
}
ul.footer-links{
    width:100%;
    margin: 15px 0  0px;

}
ul.footer-links li{
    display:inline-block; 
    position: relative;   
}
ul.footer-links li::after{
    position: absolute;
    content: '|';
    color: #0097cc;
    top: 0;
    font-weight: 400;
    font-size: 15px;
}
    
}
ul.footer-links li:last-child:after { content: ""; }

ul.footer-links li a{
    padding: 5px 10px;
    color: #fff;
    font-weight: 300;
    font-size: 01.09em;   
}
.copywrite p{
    font-size: 0.99em;
    color:#ffffff;
    margin-bottom: 0;

}
.right-side p{
    text-align: right;
}


.py-5 {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
  }
  .py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5em !important;
  }
  
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  .align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .w-100 {
    width: 100% !important;
  }

/* Navigation */

/* Navigation */

.btn-rounded{   
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 30px;
}
.btn-rounded:hover{
    background-color: #ffffff;
    color: #555;
}
.btn-rounded:active, .btn-rounded:focus{
    outline:none;
    box-shadow: none;
}


.cms-pages{
    width:100%;
    background-color: #0176d5;
    background-image: url(../images/page-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 200px;
    display:flex;
    align-items: center;
     
}

.cms-pages .SuperTitle {    
    font-size: 20px;
    line-height: 1.55;
    color: #fff;
    clear: both;
    margin:0;
}
.cms-pages h1{
    font-size: 60px;
    margin-top: 0;
    font-weight: 700;
    color:#ffffff;
    letter-spacing:1px;
    position: relative;
}
.cms-pages h1::after{
    position: absolute;
    content: '';
    bottom: -14px;
    width: 100px;
    height: 2px;
    background: #fff;
    left: 3px;
}

.cms-content p{
    font-size: 1.14em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
}
ul.list-arrow{
    list-style: none;

}
ul.list-arrow li{
    position: relative;
    margin-bottom: 16px;
    padding-left: 20px;
     font-weight: 400;
    font-size: 1.14em;
    
    line-height: 1.5;
   
}
ul.list-arrow li::after{
    position: absolute;
    content: '>';
    font-size: 16px;
    color: #e44d2a;
    top: -9px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
    left: 0;    
}
ul.list-arrow ul {
    padding-top: 10px;;
    
}
ul.list-arrow li{
    position: relative;
    margin-bottom: 16px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 1.04em;    
    line-height: 1.5;
   
}
ul.list-arrow ul li::after{
    position: absolute;
    content: '>';
    color: #489593;
}

.login-box{
    width:100%;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    min-height: 400px;
}

.login-box .left-side{
    width:50%;
    background:#E1DEDE;
    padding: 55px 25px;
    text-align: center;

}

.login-box .left-side h1{
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}
.img{
    margin-top: 50px;
    margin-bottom: 50px;
}
.img img{
    width:75%;
}
.login-box .left-side h1 span{
    display:block;
}
.login-box .right-side{
    width:50%;
    padding: 55px 55px; 
    border-bottom: solid rgb(224, 224, 224) 1px;  
    border-top: solid rgb(224, 224, 224) 1px;  
    border-right: solid rgb(224, 224, 224) 1px;  
   
}
.refresh{   
    margin-top: 40px;    
}
.refresh-btn{
    width: calc( 100% + 15px);
    margin-left: -16px;
    background:#00A4C0;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:0;
    outline:0;
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;   
}
.btn-green{
    background:#4C9E9C;
    color:#ffffff;
    min-height:50px;
    margin-top: 42px;
    border:0;
    outline:0;
}
.btn-green:hover ,.btn-green:focus{
    background:#4fb8b6;
    color:#ffffff;    
    border:0;
    outline:0;
}
.refresh .col-xs-6 input{
    width: calc( 100% + 15px);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.refresh-btn svg{
    margin-right: 5px;
}
.login-box .right-side label{
    font-weight: 600;
    color:#111E81;
}
.red{
    color:red;
    font-weight: 700;
}
.right-side .form-control{
    min-height:50px;
    /* border-radius: 0; */
    margin-bottom: 20px;
       
}
.sub-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #006F96;
    margin-bottom:20px
}
.phone-reset{
    font-weight: 400;
    color:#555555;
    font-size: 18px;
    padding-top: 15px;
}
.reset-pwd{
    display: block;
    font-weight: 600;
    color:#2A338E;
    font-size: 18px;
}
.phone-number{
    display: block;
    font-weight: 400;
    color:#555555;
    font-size: 18px;

}
.cms-text-content {
    min-height: 351px;
    display: flex;
    align-items: center;
}

/* menu */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #029D9B;
    border-color: transparent;
}

/* menu */
  
@media (max-width: 575.98px) { 
    .help-desk p {       
        font-weight: 500;
        font-size: 0.80em;
    }
    .heading {
        font-size: 150%;
    }
    ul.logo {        
        min-height: 106px;
        padding-top: 16px;
        display: flex;        
        justify-content: center;
        align-items: center;
    }
    ul.logo li {
        display: inline-block;
        width: 24.98%;
    }  
    .home-font p {
        font-size: 0.99em;
        line-height: 1.5;
    } 
    .logo-box li {
        width: 49.98%;
        border-bottom: solid #cacaca 1px;
        border-right: solid #cacaca 1px;
        box-sizing: border-box;
        min-height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
    }
    ul.logo li:nth-of-type(3) {
        float: left;
        text-align: left;
    }
    ul.logo li:nth-of-type(3) img{
        height:80px;
    }
    ul.logo li:nth-of-type(4) {
        float: left;
        margin-right: 0;        
    }
    .logo-box li:nth-of-type(2n) {
        border-right: solid #cacaca 0px;
    }
    .doc-file li {
        flex-direction: column;
    }
    .doc-content {
        width: 100%;
        padding: 15px 15px 40px;
    }
    .pdf-icon {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 10px 10px 0;
    }
    .whats-new li {
        background:#fff;
        margin-bottom: 8px;
    }
    .whats-new li .icon-box {       
        margin-right: 0;
    }
    .whats-new li .content-text {       
        font-size: 0.89em;        
        padding-left: 5px;
        
    }    
    footer {   
        margin-top: -55px;
    }
    .copywrite p{
        text-align: center;
        font-size: 0.9em;
    }
    ul.footer-links {
        width: 100%;
        margin: 50px 0 40px;
    }
    
    #login-btn .login-btn {
        display: block;
        background: #029D9B;
        color: #ffffff!important;
        padding: 10px 25px;
        text-transform: uppercase;
        font-size: 1.35em;
        letter-spacing: 1px;
        border-radius: 5px;
        margin-top: 11px;
    }
    #login-btn  .login-btn:hover{
        background: #029D9B;
        color: #ffffff;
    }
    .logo-box img {
        max-width: 90%;
        height: auto;
    }
    .link-title {
       
        padding: 5px 20px 0;
        font-size: 0.71em;
        line-height: 1.25;
    }
    .ancher-link {
        font-size: 0.61em;
        color: #E54D0C;
        font-weight: 400;
    }
    .about-us  .align-items-center {        
        flex-direction: column;
    }
    .about-bg{
        background-image: none;
    }
    

 }



@media (min-width: 576px) and (max-width: 767.98px) {  }


@media (min-width: 768px) and (max-width: 991.98px) {  }


@media (min-width: 992px) and (max-width: 1199.98px) {  }


@media (min-width: 1200px) { 
    .navbar-nav {
        margin-left: -25px;
    }
    .dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0; 
     }
 }


 .hmis-title{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
 }
 .hmis-title>span{
     display:block;
 }
 .flexbox{
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
 .box-section {
     border:solid #fff 1px;
     border-radius: 5px;
     padding: 5px;
 }
 .box-section p{
     padding-top: 5px;
    color:#fff;


 }